.basicHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  background-color: var(--blue);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.basicHeader__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px 10px;
}
