.basicInput {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid var(--blue);
  border-radius: var(--radius);
}

.basicInput:focus {
  outline: none;
  box-shadow: 0 0 3px var(--blue);
}
