@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*-------------- Main styles --------------*/
:root {
  --radius: 3px;
  --blue: #5a6b88;
  --orange: #f19c44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
}

h1 {
  font-size: 24px;
}

/* ------------ Main page styles ----------- */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.page__content {
  flex-grow: 1;
  margin-top: 60px;
  width: 100%;
}

.page__header-title {
  color: #fff;
  text-align: start;
}

.page__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page__content-title {
  margin: 10px 0;
  text-align: center;
}

.page__header-search {
  margin-left: 80px;
  max-width: 200px;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.post__content {
  width: 100%;
}

.add-post__btn {
  flex-shrink: 0;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: var(--radius);
  color: #fff;
}
.add-post__btn:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

/* --------------------- PAGES ----------------*/
/* ------------ Login -------------------- */
.login__title {
  width: 100%;
  text-align: center;
  color: #fff;
}
.login-form {
  min-width: 250px;
  width: 50%;
  max-width: 400px;
  margin: 30px auto;
  padding: 30px 10px;
  box-shadow: 0 0 3px var(--blue);
}

/* -------------- About --------- */
.about__list {
  /*list-style: inside;*/
  margin-left: 20px;
  padding: 10px 0;
}

/* -------------- Post list ---------------- */
.post-list {
  margin-top: 100px;
}

.post-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list__title {
  flex-shrink: 0;
}

.post-list__selects {
  display: flex;
  justify-content: flex-end;
}

/* Post form */
.post-form {
  padding: 10px 0;
}
.post-form__title {
  padding-bottom: 20px;
  text-align: center;
}
.post-form__input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-form__btns {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0 0;
}

/*--------------- Post item -----------------*/
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border-radius: var(--radius);
  box-shadow: 0 0 3px var(--blue);
}
.post:hover {
  box-shadow: 0 0 3px var(--orange);
}
.post__content {
  padding-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.post-enter {
  transform: translateX(-300px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.post__btns {
  flex-shrink: 0;
}


/* ------------- Responsive -------------- */
@media (max-width: 760px) {
  .page__header-title {
    font-size: 18px;
  }
  .post-list__header {
    flex-direction: column;
  }
  .post-list__title {
    margin-bottom: 10px;
  }
  .post-list__selects {
    width: 100%;
    justify-content: center;
  }

  .post {
    flex-direction: column;
  }
  .post__btns {
    width: 100%;
    margin-top: 15px;
  }

  .login-form, .post-form {
    width: 90%
  }
}
