@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --radius: 3px;
  --blue: #5a6b88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
}

#root {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.add-btn {
  margin: 10px 0;
}

.post-form {
  padding: 10px 0;
}

.post-list {
  padding: 10px 0;
}

.post-list__header {
  padding: 10px;
  text-align: center;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  /*border: 1px solid var(--blue);*/
  border-radius: var(--radius);
  box-shadow: 0 0 3px var(--blue);
}

.post-enter {
  transform: translateX(-300px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
