@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --radius: 3px;
  --blue: #5a6b88;
  --hover-color: #f19c44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
}

.App {
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.post-header {
  padding: 10px;
  background-color: var(--blue);
  border-radius: var(--radius);
}
.post-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  width: 33.33%;
}
.post-header__title {
  color: #fff;
  text-align: center;
}

.add-btn {
  margin: 10px 0;
}

.post-form {
  padding: 10px 0;
}
.post-form__title {
  padding-bottom: 20px;
  text-align: center;
}

.post-list {
  flex-grow: 1;
  padding: 10px 0;
}

.post-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list__title {
  padding: 10px 0;
  text-align: center;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  /*border: 1px solid var(--blue);*/
  border-radius: var(--radius);
  box-shadow: 0 0 3px var(--blue);
}

.post-enter {
  transform: translateX(-300px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 300ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-in;
}


/* ------------------------ Footer ---------------------- */
.post-footer {
  background-color: var(--blue);
}
.post-footer p {
  text-align: center;
  color: #bbb;
  font-size: 14px;
  padding: 10px;
}
.post-footer p a {
  color: #45b29a;
  transition: 0.5s;
  text-decoration: underline;
}
.post-footer p a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 2px var(--hover-color), 0 0 10px var(--hover-color);
}
