.basicButton {
  padding: 5px;
  font-size: 14px;
  color: var(--blue);
  background-color: rgb(173 185 236 / 0.2);
  border: 1px solid var(--blue);
  border-radius: var(--radius);
  cursor: pointer;
  transition: .3s ease-out;
}

.basicButton:hover {
  background: var(--blue);
  color: #fff;
}
